.choiceCarousel {
  height: 906px;
  background: #F5F5F5;
  padding: 100px 0;
}

.choiceCarousel_containter {
  width: 1218px;
  height: 513px;
  margin: 0 auto;
}

.choiseCarousel_header {
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.stics_container {
  width: 1218px;
  padding-top: 40px;
  display: flex;
  column-gap: 30px;
  overflow-x: hidden;
}