header {
  width: 100vw;
  box-sizing: border-box;
}
.header a {
  color: #7D7D7D;
}

.header {
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 103px;
  background: #131111;
}

.header_logo {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.lang {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: #D8D8D8;
}

.navbar {
  margin-left: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 103px;
}

.links {
  display: flex;
  column-gap: 24px;
  list-style: none;
}

.links > .active {
  color: #BCBCBC;
}

.icons {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.cart {
  width: 50px;
  height: 50px;
  margin-left: 26px;
  border: 1px solid #F5F5F5;
  border-radius: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}