html {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  background: #131111;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

