{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "no-unused-vars": "warn",
    "no-console": "warn",
    "quotes": ["error", "single"],
    "prefer-const": "error",
    "indent": ["warn", 2],
    "max-len": ["warn", {"code": 120}],
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["warn", "always"],
    "import/order": ["error", {"groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"]} ]
  }
} 